# Application
APP_NAME=Sample
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Asia/Tokyo
APP_URL=http://localhost:8000

APP_PORT=8000
APP_IP=10.11.0.2

# Docker Network
SUBNET=10.11.0.0/24
GATEWAY_IP=10.11.0.1

# Database (MySQL)
DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=sample
DB_USERNAME=sample_user
DB_PASSWORD=sample_pass
DB_ROOT_PASSWORD=root_pass
DB_IP=10.11.0.3

# Cache & Session
CACHE_STORE=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
